{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block content %}
<!--================ Start Blog Post Area =================-->
<section class="section-margin mt-5">
    <div class="container">
        <div class="row display-flex flex-column align-items-center">
            <div class="col-lg-10">

                {% for post in posts %}
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'img/blog1.png' %}" alt="">
                        <ul class="thumb-info">
                            <li>
                                <a href="#">
                                    {{ post.author }}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Published: {{ post.publish_date | timesince }} ago
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="details mt-20">
                        <a href="post.html">
                            <h3>{{ post.title }}</h3>
                        </a>
                        <h4 class="font-weight-light">{{ post.subtitle }}</h4>
                        <p>{{post.text}}</p>
                        <a class="button" href="#">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="row">
                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="ti-angle-left"></i>
                                </span>
                            </a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

{% endblock content %}