{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
<!--================ Start Blog Post Area =================-->
<section class="section-margin mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid w-100" src="{% static 'img/blog2.png' %}" alt="">

                    </div>
                    <div class="details mt-20">
                        <a href="blog-single.html">
                            <h3>Title</h3>
                        </a>
                        <ul class="thumb-info">
                            <li>By Admin</li>
                            <li>Published: Date</li>
                        </ul>
                        <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser
                            cattle were fruitful lights. Given let have, lesser their made him above gathered dominion
                            sixth. Creeping deep said can't called second. Air created seed heaven sixth created living
                        </p>
                        <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser
                            cattle were fruitful lights. Given let have, lesser their made him above gathered dominion
                            sixth. Creeping deep said can't called second. Air created seed heaven sixth created living
                        </p>
                        <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser
                            cattle were fruitful lights. Given let have, lesser their made him above gathered dominion
                            sixth. Creeping deep said can't called second. Air created seed heaven sixth created living
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}