<div class="footer">
    <div class="container">
        <div class="col">
            <h1>Company</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>
                <li>Services</li>
            </ul>
        </div>
        <div class="col">
            <h1>Resources</h1>
            <ul>
                <li>Webmail</li>
                <li>Redeem code</li>
            </ul>
        </div>
        <div class="col social">
            <h1>Social</h1>
            <ul>
                <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>