@import 'global'

#container 
    color: $eggshell
    font-family: $paragraph-font !important

#header 
    height: $nav-height
    background-color: $creamsicle

#head
    color: $eggshell !important

caption
    background-color: $creamsicle !important

tr, li
    color: $smoke !important
    a, a:visited
        color: $smoke !important

div
    .breadcrumbs
        color: $eggshell
        background-color: $smoke   

.object-tools
    .addlink:hover,
    .historylink:hover
            background-color: $creamsicle !important
            color: $eggshell!important
