// fonts
@import url('https://fonts.googleapis.com/css?family=Mukta|Ubuntu:300,500&display=swap')



// colors
$creamsicle: #ff580f
$eggshell: #FBF5DF
$smoke: #45454A
$black: #000


// sizes and spaces
$nav-height: 64px


// mixins
$header-font: Ubuntu
$paragraph-font: Mukta

// global styles

html,
body
    color: $smoke
    font-family: $paragraph-font
    background-color: $eggshell

h1,
h2,
h3
    font-family: $header-font

h4 
    font-family: $header-font
    font-weight: 300   